<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>teamID</key>
    <string>R6QM7B7GB7</string>
    <key>uploadSymbols</key>
    <true/>
    <!-- Change to "export" to get an .ipa on disk instead of uploading
         straight to App Store Connect. -->
    <key>destination</key>
    <string>upload</string>
</dict>
</plist>
